<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/fontawesome/css/all.min.css"> 
  <link rel="stylesheet" href="/custom-style/style.css">
   
</head>
<body>

  <nav class="bg-white-transparent navbar navbar-expand-lg topbar static-top shadow" id="navigasi">
    <div class="container" id="nav-scroll">
      <a class="navbar-brand" href="/"><img src="/img/small_business_96px.png" alt="" class="img-responsive" width="36px"> SPK PELUANG USAHA</a>
    </div>
  </nav>

  {{{body}}}
</body>
</html>